<h1>Elecciones</h1>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12 text-right">
    <button class="btn btn-outline-primary puntero"
            type="button"
            name="button"
            [routerLink]="['/eleccion', 'nuevo']"
            *ngIf="(_authServices.user.rolUsuario == 'Admin') ? true: false"
    >
      Nueva Elección <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">

      <!--<p-dataTable [value]="elecciones"-->
      <!--class="text-center"-->
      <!--[rows]="10" [paginator]="true"-->
      <!--dataKey="indice"-->
      <!--[pageLinks]="3" [rowsPerPageOptions]="[10,20]">-->
      <!--<p-column field="nombre" header="Nombre Eleccion"></p-column>-->
      <!--<p-column field="noCandidatos" header="Limite de Candidatos"></p-column>-->
      <!--<p-column field="candidatosInscritos" header="No. Candidatos Inscritos"></p-column>-->
      <!--<p-column field="feInicio" header="Fecha Inscripción"></p-column>-->
      <!--<p-column field="feCierre" header="Fecha Votación"></p-column>-->
      <!--<p-column header="Inscripción">-->
      <!--<ng-template let-datos="rowData" pTemplate="body">-->
      <!--<div class="text-center">{{texto | validaVotacion:_authServices.user:elecciones}}-->
      <!--<button class="btn btn-outline-warning puntero"-->
      <!--(click)="realizarIncripcion(datos)"-->

      <!--&gt;Inscribirse <i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>-->
      <!--</div>-->
      <!--</ng-template>-->
      <!--</p-column>-->
      <!--<p-column *ngIf="(_authServices.user.rolUsuario == 'Admin') ? true: false" header="Editar">-->
      <!--<ng-template let-datos="rowData" pTemplate="body">-->
      <!--<div class="text-center">-->
      <!--<button class="btn btn-outline-success puntero"-->
      <!--(click)="editarInscripcion(datos)"-->
      <!--*ngIf="(_authServices.user.rolUsuario == 'Admin') ? true: false"-->
      <!--&gt;Editar <i class="fa fa-pencil" aria-hidden="true"></i></button>-->
      <!--</div>-->
      <!--</ng-template>-->
      <!--</p-column>-->
      <!--<p-column header="Votar">-->
      <!--<ng-template let-datos="rowData" pTemplate="body">-->
      <!--<div class="text-center">-->
      <!--<button class="btn btn-outline-primary puntero"-->
      <!--(click)="realizarVotacion(datos)"-->
      <!--&gt;Votar <i class="fa fa-check" aria-hidden="true"></i></button>-->
      <!--</div>-->
      <!--</ng-template>-->
      <!--</p-column>-->
      <!--<p-column header="Candidatos">-->
      <!--<ng-template let-datos="rowData" pTemplate="body">-->
      <!--<div class="text-center">-->
      <!--<button class="btn btn-outline-info puntero"-->
      <!--(click)="verCandidatos(datos)"-->
      <!--&gt;Ver <i class="fa fa-eye" aria-hidden="true"></i></button>-->
      <!--</div>-->
      <!--</ng-template>-->
      <!--</p-column>-->
      <!--</p-dataTable>-->

      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nombre Elección</th>
          <th>Limite de Candidatos</th>
          <th>No. Candidatos Inscritos</th>
          <th>Fecha Inscripción</th>
          <th>Fecha Votación</th>
          <th>Inscripción</th>
          <!--<th *ngIf="(_authServices.user.rolUsuario == 'Admin') ? true: false">Editar</th>-->
          <th *ngIf="(_authServices.user.rolUsuario == 'Admin') ? true: false">Editar</th>
          <th>Votar</th>
          <th>Candidatos</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr *ngFor="let k of heroes| keys; let i = index">-->
        <tr *ngFor="let eleccion of elecciones; let i = index ">
          <td>{{i+1}}</td>
          <td>{{eleccion.nombre}}</td>
          <td>{{eleccion.noCandidatos}}</td>
          <td>{{eleccion.candidatosInscritos}}</td>
          <td>{{eleccion.feInicio}}</td>
          <td>{{eleccion.feCierre}}</td>
          <td>
            <div class="text-center">
              <button class="btn btn-outline-warning puntero"
                      (click)="realizarIncripcion(eleccion)"
                      [disabled]="texto | validaVotacion:_authServices.user:eleccion"
              >Inscribirse <i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
            </div>
          </td>
          <td *ngIf="(_authServices.user.rolUsuario == 'Admin') ? true: false">
            <div class="text-center">
              <button class="btn btn-outline-success puntero"
                      (click)="editarInscripcion(eleccion)"
              >Editar <i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>
          </td>
          <td>
            <div class="text-center">
              <button class="btn btn-outline-primary puntero"
                      (click)="realizarVotacion(eleccion)"
              >Votar <i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
          </td>
          <td>
            <div class="text-center">
              <button class="btn btn-outline-info puntero"
                      (click)="verCandidatos(eleccion)"
              >Ver <i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
          </td>

        </tbody>
      </table>

      <div class="alert alert-info"
           role="alert"
           *ngIf="(elecciones)?.length === 0 && !loading"
      >
        <strong>No hay más registros</strong>
      </div>

      <div class="alert alert-warning"
           *ngIf="loading"
      >
        <strong>Cargando...</strong>
      </div>


    </div>
  </div>
</div>
