<md-tab-group>
  <md-tab label="Candidatos">
    <hr>
    <div class="card-columns">

      <div>
        <div class="card animated fadeIn fast" style="width: 17rem;">
          <img class="card-img-top img-fluid"
               src="assets/img/noimage.png" alt=""
          >
          <div class="card-block">
            <h4 class="card-title">nombre</h4>
            <p class="card-text">
              <small class="text-muted">Coopast</small>
            </p>
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              (click)="verHeroe(i)"
            >Ver mas...
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="card animated fadeIn fast" style="width: 17rem;">
          <img class="card-img-top img-fluid"
               src="assets/img/noimage.png" alt=""
          >
          <div class="card-block">
            <h4 class="card-title">nombre</h4>
            <p class="card-text">
              <small class="text-muted">Coopast</small>
            </p>
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              (click)="verHeroe(i)"
            >Ver mas...
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="card animated fadeIn fast" style="width: 17rem;">
          <img class="card-img-top img-fluid"
               src="assets/img/noimage.png" alt=""
          >
          <div class="card-block">
            <h4 class="card-title">nombre</h4>
            <p class="card-text">
              <small class="text-muted">Coopast</small>
            </p>
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              (click)="verHeroe(i)"
            >Ver mas...
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="card animated fadeIn fast" style="width: 17rem;">
          <img class="card-img-top img-fluid"
               src="assets/img/noimage.png" alt=""
          >
          <div class="card-block">
            <h4 class="card-title">nombre</h4>
            <p class="card-text">
              <small class="text-muted">Coopast</small>
            </p>
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              (click)="verHeroe(i)"
            >Ver mas...
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="card animated fadeIn fast" style="width: 17rem;">
          <img class="card-img-top img-fluid"
               src="assets/img/noimage.png" alt=""
          >
          <div class="card-block">
            <h4 class="card-title">nombre</h4>
            <p class="card-text">
              <small class="text-muted">Coopast</small>
            </p>
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              (click)="verHeroe(i)"
            >Ver mas...
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="card animated fadeIn fast" style="width: 17rem;">
          <img class="card-img-top img-fluid"
               src="assets/img/noimage.png" alt=""
          >
          <div class="card-block">
            <h4 class="card-title">nombre</h4>
            <p class="card-text">
              <small class="text-muted">Coopast</small>
            </p>
            <button
              type="button"
              class="btn btn-outline-primary btn-block"
              (click)="verHeroe(i)"
            >Ver mas...
            </button>
          </div>
        </div>
      </div>


    </div>
  </md-tab>
  <md-tab label="Tipos Elecciones">
    <hr>
    <p-dataTable [value]="cars" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
      <p-column field="noEleccion" header="Nombre Eleccion"></p-column>
      <p-column field="noCand" header="No. Candidatos"></p-column>
      <p-column field="feInicio" header="Fecha Inscripción"></p-column>
      <p-column field="feFin" header="Fecha Votación"></p-column>
      <p-column header="Inscripción">
        <ng-template let-car="rowData" pTemplate="body">
          <div class="text-center">
            <button class="btn btn-outline-success" (click)="selectCar(car)">Inscribirse <i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
  </md-tab>
</md-tab-group>

