<div class="row">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#candidatos" role="tab">Candidatos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#elecciones" role="tab">Tipos Elecciones</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content col-md-10">
    <div class="tab-pane active"
         id="candidatos" role="tabpanel">
      <br>
      <div class="card-columns">

        <div>
          <div class="card animated fadeIn fast" style="width: 17rem;">
            <img class="card-img-top img-fluid"
                 src="assets/img/noimage.png" alt=""
            >
            <div class="card-block">
              <h4 class="card-title">nombre</h4>
              <p class="card-text">
                <small class="text-muted">Coopast</small>
              </p>
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                (click)="verHeroe(i)"
              >Ver mas...
              </button>
            </div>
          </div>
        </div>

        <div>
          <div class="card animated fadeIn fast" style="width: 17rem;">
            <img class="card-img-top img-fluid"
                 src="assets/img/noimage.png" alt=""
            >
            <div class="card-block">
              <h4 class="card-title">nombre</h4>
              <p class="card-text">
                <small class="text-muted">Coopast</small>
              </p>
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                (click)="verHeroe(i)"
              >Ver mas...
              </button>
            </div>
          </div>
        </div>

        <div>
          <div class="card animated fadeIn fast" style="width: 17rem;">
            <img class="card-img-top img-fluid"
                 src="assets/img/noimage.png" alt=""
            >
            <div class="card-block">
              <h4 class="card-title">nombre</h4>
              <p class="card-text">
                <small class="text-muted">Coopast</small>
              </p>
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                (click)="verHeroe(i)"
              >Ver mas...
              </button>
            </div>
          </div>
        </div>

        <div>
          <div class="card animated fadeIn fast" style="width: 17rem;">
            <img class="card-img-top img-fluid"
                 src="assets/img/noimage.png" alt=""
            >
            <div class="card-block">
              <h4 class="card-title">nombre</h4>
              <p class="card-text">
                <small class="text-muted">Coopast</small>
              </p>
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                (click)="verHeroe(i)"
              >Ver mas...
              </button>
            </div>
          </div>
        </div>

        <div>
          <div class="card animated fadeIn fast" style="width: 17rem;">
            <img class="card-img-top img-fluid"
                 src="assets/img/noimage.png" alt=""
            >
            <div class="card-block">
              <h4 class="card-title">nombre</h4>
              <p class="card-text">
                <small class="text-muted">Coopast</small>
              </p>
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                (click)="verHeroe(i)"
              >Ver mas...
              </button>
            </div>
          </div>
        </div>

        <div>
          <div class="card animated fadeIn fast" style="width: 17rem;">
            <img class="card-img-top img-fluid"
                 src="assets/img/noimage.png" alt=""
            >
            <div class="card-block">
              <h4 class="card-title">nombre</h4>
              <p class="card-text">
                <small class="text-muted">Coopast</small>
              </p>
              <button
                type="button"
                class="btn btn-outline-primary btn-block"
                (click)="verHeroe(i)"
              >Ver mas...
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="tab-pane"
         id="elecciones" role="tabpanel">
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci beatae deserunt, ea eveniet iure quos sit. Accusantium amet blanditiis consequatur eos ipsa maxime quasi quod reiciendis
      voluptate? Dolore, perspiciatis.
    </div>
  </div>
</div>
