.fomulario {
  background-color: whitesmoke;
  margin-top: 20px;
  border-radius: 15px;
  padding: 50px 10px 50px 10px;
}

.margen-derecho-15 {
  margin-right: 15px;
}

.margen-abajo {
  margin-bottom: 250px;
}
