<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right"
          type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon puntero"></span>
  </button>

  <a class="navbar-brand logo-principal" href="#">
    <img src="/assets/img/poli.png"
         width="30"
         height="30"
         class="d-inline-block align-top" alt="">
    Poli Voto
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Inicio</a>
      </li>

      <!--<li class="nav-item">-->
      <!--<a class="nav-link">Buscar</a>-->
      <!--</li>-->

      <!--<li class="nav-item" routerLinkActive="active">-->
      <!--<a class="nav-link" [routerLink]="['/empresas']">Empresas</a>-->
      <!--</li>-->

      <!--<li class="nav-item" routerLinkActive="active">-->
      <!--<a class="nav-link" [routerLink]="['/votos']">Votos</a>-->
      <!--</li>-->

      <!--<li class="nav-item" routerLinkActive="active">-->
      <!--<a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>-->
      <!--</li>-->

      <!--<li class="nav-item" routerLinkActive="active">-->
      <!--<a class="nav-link" [routerLink]="['/elecciones']">Elecciones</a>-->
      <!--</li>-->

      <li class="nav-item dropdown"
          *ngIf="(_authServices.user.rolUsuario == 'Admin') ? true: false"
      >
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/empresas']">Empresas</a>
          <a class="dropdown-item" [routerLink]="['/votos']">Votos</a>
          <a class="dropdown-item" [routerLink]="['/usuarios']">Usuarios</a>
          <a class="dropdown-item" [routerLink]="['/elecciones']">Elecciones</a>
        </div>
      </li>

    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
    <!--<input class="form-control mr-sm-2" type="text" placeholder="Buscar...">-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>-->
    <!--</form>-->

    <span class="navbar-text logo-principal puntero salir"
          (click)="salir()"
          *ngIf="_authServices.user"
    >
      Salir
    </span>
  </div>
</nav>
