.margen-derecho-15 {
  margin-right: 15px;
}

.toggle-btn {
  font-size: 1.5em;
}

.tipo-inscripcion {
  font-weight: bold;
  font-size: 1.5em;
}

.titulo-inscripcion {
  font-weight: bold;
  font-size: 2em;
}

.example-card {
  width: 350px;
}

.avatar {
  width: 46px;
  border-radius: 30px;
}
